.transaction__show__header-mobile{
  padding: 8px;
  display: flex;
  
  background-color: #B3CDD1;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}
.money__icon > .color--redish{
    background-color: #dd4f4f;
    border-radius: 20px;
    font-size: 40px;
}
.transaction__show__heading> h2  {
  margin-left: 10px;
  margin-top: 1px;
}
.transaction__show__heading> p  {
  margin-top:-20px;
  margin-left:8px;
}
.total__expense{
  margin-left:auto;
  margin-top: auto;
  padding-bottom: 10px;
  font-size: 1.3em;
}
