.main-layout {
  display: flex;
  background-color: #4E6E5D;

  position: fixed;
  flex-direction: row;
  width: 20%;
  text-align: center;
}

.navbar {
  align-self: center;
  flex: 1;

  padding-left: 4%;
  padding-right: 4%;
  padding-top: 20vh;
}

