.counter-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  /* border-radius: 50px; */
 
}

.balance-dollars {
  font-size: 25px;
  color: rgb(0, 143, 251);
  margin-top: -10px;
}

.balance {
  top:0;
  /* padding-top: 10px; */
  height: max-content;
  font-size: 20px;
  border-radius: 5px;
  /* margin-right: -50px; */
  width:50%;
  text-align: center;
  background-color: #B3CDD1;
}
.icon {
  margin-left: 20px;
  margin-right: 50px;
  border-radius: 50px;
}