/* .counter-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.counter-container > div {
  flex: 1;
  text-align: center;
}

.counter-container > div:first-of-type {
  border-right: 1px solid #dedede;
} */

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.money-plus {
  font-size: 25px;
  color: #2ecc71;
  margin-top: -10px;
}

.money-minus {
  font-size: 25px;
  color: #c0392b;
  margin-top: -10px;
}

.budget {
  top:0;
  height: max-content;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 50px;
  width:50%;
  text-align: center;
  background-color: #B3CDD1;
}

.expense {
  font-size: 20px;
  border-radius: 5px;
  margin-left: 5px;
  width:50%;
  background-color: #B3CDD1;
}