.Home__page__chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.pie__chart__background--color {
  // max-height:80%;
  margin-top: 20px;
  max-width:90%;
  // background-color: #EBEBEB;
  padding: 23px;
  
  // margin-top:100px;
  // border-radius: 15px;
}
.chart__title{
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 20px;
  margin-left: 30px;
  padding-left: 50px;
}
.chart{
   margin-left: 30px;
   padding-bottom: 10px;
}
.color--blue{
  color: rgb(0, 143, 251);
}
.chart__bottom {
  padding-top: 20px;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 30px;
}
// .chart__bottom--left{
//   margin-left: 30px;
//   padding-left: 50px;
// }
