.transaction-list {
  overflow: scroll;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 100%;
  padding-left: 0px;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  background-color: #EBEBEB;
  margin-top: 50px;
  width: 60%;
  margin-left: 20%;
  border-radius: 20px;
}

.transaction-content {
  background-color: #B3CDD1;
  border-radius: 10px;
  margin: 10px;
  padding-right: 15px;
}



